.row

  .col-md-offset-2.col-md-8
    div.text-center
      img(src='http://mumuki.io/logo-alt-large.png', alt='central - Mumuki', style='height: 75px')
      h1.pull-right.options
        save-item(item='book', save='save()')
        locale(item='book')

      h2.text-center
        input(type='text', ng-model='book.name', style='text-align: center')

    br
    ace-with-markdown(content='book.description', header='description')

    slug(item='book', ng-if='isNew')

    br
    h2 {{ 'content' | translate }}
    ui-select(ng-model='selected.chapter')
      ui-select-match(placeholder='{{ "search" | translate }}')
        span(ng-bind='$select.selected.name')
      ui-select-choices(
          repeat='topic in topics | filter:hasTopic | filter:$select.search | orderBy:["name", "slug"]')
        strong(ng-bind='topic.name')
        span &nbsp;-&nbsp;
        span(ng-bind='topic.slug')

    .chapters(dnd-list='book.chapters')
      .chapter(
        ng-repeat='chapter in book.chapters'
        dnd-draggable='chapter',
        dnd-moved='book.chapters.splice($index, 1)',
        dnd-effect-allowed='move')
        h3
          span {{ 'chapter' | translate }} {{ $index + 1 }}:&nbsp;
          a(href='') {{ chapter.name }}
          small.pointer.pull-right(ng-click='book.removeChapter(chapter)')
            i.fa.fa-fw.fa-times

        .text-box
          span(ng-bind-html='html(chapter.description)')

    br
    h2 {{ 'complements' | translate }}
    ui-select(ng-model='selected.complement')
      ui-select-match(placeholder='{{ "search" | translate }}')
        span(ng-bind='$select.selected.name')
      ui-select-choices(
          repeat='guide in guides | filter:hasGuide | filter:$select.search | orderBy:Guide.sortBy()')
        i(class='{{ guide.icon() }}')
        span &nbsp;&nbsp;&nbsp;
        strong(ng-bind='guide.name')
        span &nbsp;-&nbsp;
        span(ng-bind='guide.slug')

    div(ng-repeat='complement in book.complements')
      .text-box
        small.pointer.pull-right(ng-click='book.removeComplement($index)')
          i.fa.fa-fw.fa-times
        span {{ complement }}
