.mu-content

  h1.detail-title
    input(type='text', ng-model='guide.name', placeholder='{{ "placeholder_guide_name" | translate }}')

    small(
        ng-class='{                               \
          "text-primary pointer": guide.canSave(),\
          "mu-disabled": !guide.canSave(),        \
        }')
      i.fa.fa-fw.fa-upload(ng-click='save()')

    div.dropdown
      small.pointer.locale.flag-icon(
          id='ddLocale',
          aria-expanded='true',
          data-toggle='dropdown',
          class='{{ currentLocaleIcon(guide.locale) }}')
      ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddLocale')
        li(ng-repeat='locale in locales.get()', ng-click='guide.setLocale(locale.code)')
          a(href='')
            i.flag-icon(class="{{ locale.icon() }}")
            span {{ locale.name | translate }}

    div.dropdown
      i.pointer.language.da(
          class='{{ guide.icon() }}',
          id='ddLanguage',
          data-toggle='dropdown',
          aria-expanded='true')
      ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddLanguage')
        li(ng-repeat='language in languages.get()', ng-click='guide.setLanguage(language.name)')
          a(href='')
            i.da(class='{{ language.icon() }}')
            span {{ language.name }}

  main.detail-main
    br
    ace-with-markdown(header='description' content='guide.description')
    br(ng-if='!isNew')
    .detail-exercises(ng-if='!isNew')
      h3 {{ 'content' | translate }}
      ul.progress-listing(dnd-list='guide.exercises')
        li(
            ng-repeat='exercise in guide.exercises',
            dnd-draggable='exercise',
            dnd-effect-allowed='copyMove',
            dnd-moved='guide.exercises.splice($index, 1)')
          a(ui-sref='editor.home.guides.detail.exercise({ eid: exercise.id })')
            i.fa.fa-fw.fa-circle.text-muted
            span {{ $index + 1 }}. {{ exercise.name }}
    br(ng-if='!isNew')
    ace-with-markdown(header='corollary', content='guide.corollary', foldable='true', ng-if='!isNew')
    br(ng-if='!isNew')
    ace-with-markdown(header='teacher_info', content='guide.teacher_info', foldable='true', ng-if='!isNew')
    br(ng-if='!isNew')
    ace-editor(content='guide.extra_code', mode='guide.language', header='extra_code', foldable='true', ng-if='!isNew')
    .detail-license
      h3 {{ 'authors' | translate }}
      input(type='text', ng-model='guide.authors', placeholder='{{ "placeholder_authors" | translate }}')
      h3(ng-if='!isNew') {{ 'collaborators' | translate }}
      input(
          type='text',
          ng-model='guide.collaborators',
          placeholder='{{ "placeholder_collaborators" | translate }}',
          ng-if='!isNew')
      br
      br
      small(ng-bind-html='"license_disclaimer" | translate')

