.mu-content

  h1.detail-title
    input(type='text', ng-model='item.name', placeholder='{{ "placeholder_topic_name" | translate }}')

    save-item(item='item', save='save()')
    locale(item='item')

  main.detail-main
    br
    ace-with-markdown(header='description' content='item.description')

    slug(item='item', ng-if='isNew')

    .detail-exercises
      h3 {{ 'content' | translate }}
      ui-select(ng-model='selected.lesson')
        ui-select-match(placeholder='{{ "placeholder_add_lesson" | translate }}')
          span(ng-bind='$select.selected.name')
        ui-select-choices(
            repeat='guide in guides | filter:hasGuide | filter:$select.search | orderBy:Guide.sortBy()')
          i(class='{{ guide.icon() }}')
          span &nbsp;&nbsp;&nbsp;
          strong(ng-bind='guide.name')
          span &nbsp;-&nbsp;
          span(ng-bind='guide.slug')

      .lessons(dnd-list='item.lessons')
        .lesson(
            ng-repeat='lesson in item.lessons',
            dnd-draggable='lesson',
            dnd-moved='item.lessons.splice($index, 1)',
            dnd-effect-allowed='move')
          h4
            span {{ 'lesson' | translate }} {{ $index + 1 }}:&nbsp;
            a(ui-sref='editor.home.guides.detail(lesson.params())') {{ lesson.name }}
            small.pointer.text-muted(ng-click='item.removeLesson(lesson)')
              i.fa.fa-fw.fa-times
          ul.progress-listing
            li(ng-repeat='exercise in lesson.exercises')
              a(ui-sref='editor.home.guides.detail.exercise(exerciseParams(lesson, exercise))')
                i.fa.fa-fw.fa-circle.text-muted
                span {{ $index + 1 }}. {{ exercise.name }}

    br
    ace-with-markdown(header='teacher_info', content='item.teacher_info', foldable='true')
