div.dropdown
  small.pointer.locale(
      id='ddLocale',
      aria-expanded='true',
      data-toggle='dropdown',
      title='{{ "locale" | translate }}',
      class='{{ currentLocaleIcon(item.locale) }}')
  ul.dropdown-menu.dropdown-menu-right(aria-labelledby='ddLocale')
    li(ng-repeat='locale in locales.get()', ng-click='item.setLocale(locale.code)')
      a(href='')
        i(class="{{ locale.icon() }}")
        span {{ locale.name | translate }}

