.tabbable(ng-if='someIsVisible()')
  input.ng-hide(id="mu-custom-editor-extra")

  ul.nav.nav-tabs.nav-tabs-inline
    li.title
      h3
        span {{ 'evaluation' | translate }}
    li(
        role='presentation',
        ng-if='t.isVisible()',
        ng-repeat='t in tabs',
        ng-click='selectTab(t)',
        ng-class='{ "active": t.selected }')
      a(href='', data-toggle='tab') {{ t.name | translate }}

  .tab-content.margin-top
    .tab-pane(
        ng-if='t.isVisible() && t.selected'
        ng-repeat='t in tabs',
        ng-class='{ "active": t.selected }')
      div(ng-include="t.templateUrl")
