.tabbable
  ul.nav.nav-tabs.nav-tabs-inline
    li.file(ng-repeat='(key, value) in data track by key', ng-click='select(key)', ng-class="{ 'active': isActive(key) }")
      a.pointer(data-toggle='tab')
        span {{ key }}
        span &nbsp;&nbsp;
        i.fa.fa-fw.fa-pencil.pointer(ng-click='changeFileName(key)')
        span &nbsp;&nbsp;
        i.fa.fa-fw.fa-times.pointer(ng-click='removeFile(key)')

    li.add-file(ng-click="addFile()"): a.pointer: i.fa.fa-fw.fa-plus

  .tab-content.margin-top
    .tab-pane(ng-repeat='(key, value) in data track by key', ng-class="{ 'active': isActive(key) }")
      ace-with-toolbar-code(
        content='data[key]',
        mode='getAceModeFromExtension(key)',
        comment='commentStyle',
        placeholder='placeholder_default_content'
        extra-options='extraOptions'
      )
