div(ng-if='exercise.usesCustomEditor()', ng-bind-html="exercise.getCustomEditorHtml() | trustedHtml ")

div(ng-if='!exercise.usesCustomEditor()')
  ace-with-toolbar-code(
    content='exercise.default_content',
    mode='exercise.getAceMode()',
    comment='exercise.getComment()',
    placeholder='placeholder_default_content',
    from='content')
