div(ng-if='exercise.usesCustomEditor()')
  custom-editor(exercise="exercise", content="exercise.default_content")
div(ng-if='!exercise.usesCustomEditor()')
  ace-with-toolbar-code(
    content='exercise.default_content',
    mode='exercise.getAceMode()',
    comment='exercise.getComment()',
    placeholder='placeholder_default_content',
    from='content')
