include ./_mixins

div(ng-if='exercise.usesCustomEditor()')
  +custom-editor-interpolation-selector('contentEditor.mode')
div(ng-if="contentEditor.mode === 'custom'")
  custom-editor(exercise="exercise", content="exercise.default_content")
div(ng-if="contentEditor.mode === 'interpolation'")

  div(ng-if="!exercise.isMultifile()")
    ace-with-toolbar-code(
      content='exercise.default_content',
      mode='exercise.getAceMode()',
      comment='exercise.getComment()',
      placeholder='placeholder_default_content',
      from='content')

  multiple-files(
    ng-if="exercise.isMultifile()",
    data="exercise.default_content",
    comment="exercise.getComment()",
    default-extension="exercise.fullLanguage().extension"
  )
