div(ng-if='exercise.usesCustomEditor()')
  span.extra-mode-input
    input(type="radio" ng-model="extraMode.isCustom" value=true)#rb-custom
    label(for="rb-custom") Custom Editor
  span.extra-mode-input
    input(type="radio" ng-model="extraMode.isCustom" value=false)#rb-interpolation
    label(for="rb-interpolation") Interpolation
div(ng-if='extraMode.isCustom')
  custom-editor(exercise="exercise", content='exercise.extra', extra-attributes="'teacher-mode=true'")
div(ng-if='!extraMode.isCustom')
  ace-with-toolbar-code(
    content='exercise.extra',
    mode='exercise.getAceMode()',
    comment='exercise.getComment()',
    placeholder='placeholder_extra_code',
    from='extra')
  div(ng-if='exercise.usesCustomEditor()')
    div.checkbox.complementary.complementary-checkbox(ng-if='exercise.canChangeLayout()')
      input(type='checkbox', id='input-extra-visible', ng-model='exercise.extra_visible')
      label(for='input-extra-visible')
        input.border-white(type='text', value='{{ "extra_visible" | translate }}', readonly)
