include ./_mixins

div(ng-if='exercise.usesCustomEditor()')
  +custom-editor-interpolation-selector('extraEditor.mode')
div(ng-if="extraEditor.mode === 'custom'")
  custom-editor(exercise="exercise", content='exercise.extra', extra-attributes="'teacher-mode=true'")
div(ng-if="extraEditor.mode === 'interpolation'")
  ace-with-toolbar-code(
    content='exercise.extra',
    mode='exercise.getAceMode()',
    comment='exercise.getComment()',
    placeholder='placeholder_extra_code',
    from='extra')
  div(ng-if='exercise.usesCustomEditor()')
    div.checkbox.complementary.complementary-checkbox(ng-if='exercise.canChangeLayout()')
      input(type='checkbox', id='input-extra-visible', ng-model='exercise.extra_visible')
      label(for='input-extra-visible')
        input.border-white(type='text', value='{{ "extra_visible" | translate }}', readonly)
