multiple-files(
  exercise="exercise",
  data="exercise.test",
  default-extension="exercise.fullLanguage().extension"
  default-data="defaultData"
  ace-modes="aceModes"
  extra-options="extraOptions"
)
