.dropdown.markdown-panel(ng-if='exercise.hasTestUI()')
  a(href='', data-toggle='dropdown')
    span {{ 'test_input_method' | translate }}
    i.fa.fa-fw.fa-caret-down
  ul.dropdown-menu(aria-labelledby='dropdownTestUI')
    li: a(href='', ng-click='enableTestUI()') {{ exercise.getTestUI().uiOption }}
    li: a(href='', ng-click='disableTestUI()') {{ exercise.getTestUI().textOption }}

div(ng-switch='isEnabledTestUI()')
  div(ng-switch-when='true')
    gobstones-test.mu-kids-states(exercise='exercise')
  div(ng-switch-default)
    ace-with-toolbar-code(
      content='exercise.test',
      mode='exercise.getAceMode()',
      comment='exercise.getComment()',
      placeholder='placeholder_test',
      template='exercise.testTemplate()',
      from='test'
    )

div.checkbox.complementary.complementary-checkbox(ng-if='!exercise.isKidsLayout()')
  input(type='checkbox', id='manual-evaluation', ng-model='exercise.manual_evaluation')
  label(for='manual-evaluation')
    input.border-white(type='text', value='{{ "manual_evaluation" | translate }}', readonly)
