ace-with-toolbar-code(
  content='exercise.test',
  mode='exercise.getAceMode()',
  comment='exercise.getComment()',
  placeholder='placeholder_test',
  from='test',
  ng-if='!exercise.manual_evaluation'
)
div.checkbox.complementary.complementary-checkbox(ng-if='exercise.canChangeLayout()')
  input(type='checkbox', id='manual-evaluation', ng-model='exercise.manual_evaluation')
  label(for='manual-evaluation')
    input.border-white(type='text', value='{{ "manual_evaluation" | translate }}', readonly)
