ace-with-toolbar-code(
  content='exercise.test',
  mode='exercise.getAceMode()',
  comment='exercise.getComment()',
  placeholder='placeholder_test',
  template='exercise.testTemplate()',
  from='test'
  ng-if='!exercise.isKidsLayout()'
)

gobstones-test(exercise='exercise', ng-if='exercise.isKidsLayout()')

div.checkbox.complementary.complementary-checkbox(ng-if='!exercise.isKidsLayout()')
  input(type='checkbox', id='manual-evaluation', ng-model='exercise.manual_evaluation')
  label(for='manual-evaluation')
    input.border-white(type='text', value='{{ "manual_evaluation" | translate }}', readonly)
